
* {
    padding:0;
    margin:0;
}

body{
    height: 100vh;
    background-color: black;
    color: white;
}

            /* --------------NAVIGATION BAR---------------- */

.nav-bar,.nav_phone{
    height: 40px;
    background-color: black;
    display: flex;
    align-items: center;
}

.nav-links{
    list-style: none;
    display: flex;
    gap: 2rem;
    margin-left: 2%;
}

.nav-links a{
    color:rgb(213, 170, 5);
    font-family: "Kelly Slab", sans-serif;
    font-weight: 500;
    font-size: large;
    text-decoration: none;
}

.nav-links a:hover{
    background:rgb(249, 238, 193);
    border-radius: 3px;
    color:black;
    padding:2px;
}
 .hamburger {
      display: none;
      flex-direction: column;
      cursor: pointer;
    }

.hamburger span {
      height: 3px;
      width: 25px;
      background: #fff;
      margin: 3px 0;
      transition: all 0.3s;
    }

/* .nav_phone{
    margin-left: 450px;
}


.phone-icon {
      font-family: 'Material Symbols Outlined';
      font-size: 25px;
      color: #d5aa05; 
      vertical-align: middle;
 }
 .contact-text {
      font-size: 15px;
      margin-left: 10px;
    }

.phone-icon i {
    margin-right: 8px;
    margin-left: 130px;;
  } */
            /* --------------HOME PAGE---------------- */

.home-container{
    display:flex;
    width: 100%;
    height: 100vh;
    flex-wrap: wrap;
}

.nataraj{
    height:90%;
    min-width: 33.3%;
    flex:1; 
    background-image: url('image/Nataraj.png');
    background-size: cover;
    background-position: center;
 }

.invite{
    width:33.3%;
    height: 100%;
    flex:1;
    align-items: center;
    padding-top:8%;
    color:whitesmoke;
    text-align: center;
    font-family:"Cormorant Upright", serif;
    font-weight: 300;
 }

.ketki
{
   width:40%;
   height: 100%;
   flex:1;
   padding-top:2%;
   background-image: url("image/D1.png");
   /* background-size: cover;     */
   background-size: contain;
   background-repeat: no-repeat;
   background-position: center; 
}
/*                          HOME PAGE TEXTS */
 .invite-BA{
    font-size: 1.4rem;
 }
 .invite-name{
    color:rgb(224, 162, 5);
    font-weight: 800;
    font-size: 1.8rem;
    padding:4%;
  }
 .invite-date{
     font-size: 1.2rem;
 }

             /* --------------ABOUT PAGE---------------- */

.about-container{
    margin: 3% 5%;
    padding:2%;
    font-family: "Cormorant Upright", serif;
    font-size: 1.2rem;
    color: rgb(249, 238, 193);
    border:2px dotted rgb(249, 238, 193);
}

.about-container h4{
    color:rgb(213, 170, 5);
}

             /* --------------PROGRAM PAGE---------------- */

.program-container{
    margin:2% 2%;
    padding:2% 4%;
    /* border: 4px dotted rgb(9, 48, 85); */
    border: 2px dotted rgb(249, 238, 193);
    border-radius: 5px;
    background-color: black;
    color:#f9eec1;
    line-height: 1.7rem;
    font-family: "Cormorant Upright", serif;
    font-weight: 900;
    font-size: 1.3rem;
}


.dance_container{
    margin:2%;
    display: flex;
    /* align-items: flex-start; */
    gap:5%;
} 

.program-container h3,h4{
    color:rgb(213, 170, 5);
    text-align: center;
    font-weight: 800;
    font-size: 2.0rem;
}
.program-time{
    color:rgb(213, 170, 5);
    font-size: 1.5rem;
}

.dance_img{
    height:400px;
    width:240px;
    object-fit: cover;
    display: block;
    border:1px solid rgb(249, 238, 193); 
}
.dance_details{
    margin-top: 10%;
 }

 .dance_details h2{
    color:rgb(213, 170, 5);
 }
.dance_details p{
    color:rgb(249, 238, 193);
 }

                 /* --------------MUSICIAN PAGE---------------- */

.musician-container{
    margin: 1% ;
    padding:3%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    gap:25px;   
}          

/* .musician-container img{ */
.musician-img{
    width: 400px;
    max-width: 100%;
    height:300px;
    border:1px solid rgb(213, 170, 5);
    overflow: hidden;
}
.musician-guru-img{
    width: 400px;
    max-width: 100%;
    height: 500px;
    border:1px solid rgb(213, 170, 5);
    object-fit: cover;
    overflow: hidden; 
}
/* .musician-container p{ */
.musician-p{
    /* padding: 2%; */
    flex:1;
    font-size: 1.2rem;
    line-height: 1.6;
    font-family: "Cormorant Upright", serif;
    color: #f9eec1;
}     
.musician_type{
color: rgb(213, 170, 5);
}

.header-page{
    color:rgb(213, 170, 5);
    text-align: center;
    font-family: "Cormorant Upright", serif;
    font-weight: 800;
    /* font-size: 2.0rem; */
}
             /* --------------GALLERY PAGE---------------- */
.slideshow-container {
  /* position: relative; */
  width: 900px;
  max-width: 90%;
  text-align: center;
  /* display:flex;
  width: 100%;
  height: 100vh;
  flex-wrap: wrap;
  align-items: center; */
}

#slideshow-image {
  width: 40%;
  height: 450px;
  border: 3px solid #fff;
  margin-left: 50%;
}

.controls {
  /* margin-top: 10px; */
  margin-left: 50%;
}

button {
  background-color: #444;
  color: #fff;
  border: none;
  padding: 10px 15px;
  margin: 0 5px;
  cursor: pointer;
  font-size: 16px;
}

button:hover {
  background-color: #666;
}
/* 
.slideshow {
    margin-left: 25%;
    margin-top: 2%;
    display: flex;
    justify-content: center;
      align-items: center;  
    position: relative;
      width: 600px;
      height: 500px;
      overflow: hidden;

    }

.slide {
      position: absolute;
      width: 100%;
      height: 100%;
      opacity: 0;
      animation: fade 9s infinite;
      object-fit: contain;
    }

.slide:nth-child(1) { animation-delay: 0s; }
.slide:nth-child(2) { animation-delay: 3s; }
.slide:nth-child(3) { animation-delay: 6s; }

@keyframes fade {
      0% { opacity: 0; }
      10% { opacity: 1; }
      30% { opacity: 1; }
      40% { opacity: 0; }
      100% { opacity: 0; }
} */

             /* --------------RESPONSIVE---------------- */


@media (max-width: 768px) {
    .home-container{
        align-items: center;
        text-align: center;
    }
.nataraj{
    min-width: 100%;
    max-width: 100%;
    height: 25vh;
    /* z-index: 1; */
    /* padding:4%; */
    background-size: contain;
    background-position: top center;
    background-repeat: no-repeat;
  }
.invite{
    min-width: 100%;
    max-width: 100%;
    height: auto;
    /* z-index: 1; */
    padding:4%;
   }

  .ketki{
    height:50vh; 
    width:100%;
    background-position:center;
    background-repeat: no-repeat;
    /* background-size: cover; */
    background-size: contain;
    object-fit: cover;
    /* z-index: 1; */
  }
  .invite-BA,.invite-name,.invite-date{
    font-size:1.1rem;;
  }

  .about-container{
    font-size: 1rem;
  }


 .musician-img,.musician-p{
    min-width: 80%;
    height: auto;
    font-size: 1.4rem;
    line-height: 1.4rem;
    display: block;
    justify-content: space-around;
  }
 .musician-guru-img{
    height: 400px;
  }
.program-container{
    font-size: 1.1rem;
}
.program-container h3, h4,h2,.musician-container h5{
    font-size: 1.5rem;
}
.dance_container{
    display: block;
    justify-content: space-around;
    font-size: 1.2rem;
}
  .dance_img{
    min-width: 100%;
    height:50%;
    margin-top:8%;
  }
.slideshow-container {
    align-items: center;
}

#slideshow-image {
    min-width: 100%;
    max-width: 100%;
    height:auto;
    margin-left: 2%;
    margin-top: 2%;
}
.controls {
  /* margin-top: 10px; */
  margin-left: 0%;
  display: flex;
}
/* .slideshow{
     min-width: 50%;
     width:80%;
    height:60%;
    /* align-items: center; */
    /* margin-top:8%; */
    /* margin-left: 6%; */
/* } */ 
.nav-links{
        display: none;
        flex-direction: column;
        position: absolute;
        top:60px;
        /* right: 0; */
        left:0;
        width: 40%;
        background-color: black; 
        border:1px solid gray;
        padding: 1rem;
        z-index: 1000;
    }

.nav-links li{
        text-align: center;
    }

.nav-links a:hover{
        background:rgb(249, 238, 193);
    }

.nav-links.show{
        display: flex;
    }

.hamburger{
        display: flex;
        color:white;
        
    }
.nav_phone{
    margin-left: 120px;
}
.phone-icon {
      font-size: 1rem;
      padding: 8px;
      margin-left: 50px;;
    }
.contact-text{
    margin-right: 5px;
}
  }

